@import '_variables'

*
  margin: 0
  padding: 0
  box-sizing: border-box

.cards
  display: flex
  justify-content: space-around
  margin-top: 10%
  &__one
    width: 200px
    height: 300px
    background-color: aliceblue
    border-radius: 10px
    margin: 10px
    text-align: center
    p
    @for $i from 1 through 5
      &:nth-child(#{$i})
        .star
          width: 15px*$i

.star
  width: 15px
  height: 15px
  border-radius: 0%
  background-image: url("../images/images/star.svg")
  background-repeat: repeat-x
  background-size: 15px 15px
  margin: 30px auto
  border-bottom: none



img
  width: 120px
  height: 120px
  border-radius: 50%
  margin: 40px













